<h2>Available drones</h2>

{{#each dronesFromApi}}

  <ul>
    <li>{{this.name}}
      <ul>
        <li>{{this.propellers}}</li>
        <li>{{this.maxSpeed}}</li>
      </ul>
    </li>
  </ul>

  <a href="/drones/{{_id}}/edit">Edit drone</a>

{{/each}}